.vscode/tasks.json
vector-simulator/log.txt
eng/conventional/log.txt
game/game
*/log.txt
game/game.exe
*/.vscode
*/.pio
*/*/.vscode
*/*/.pio
./penguin_game/sim_game
*.o
*/*.o
*/*/*.o
./penguin_game/sprite_creator
